<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">My Quotes</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let quote of Model.myQuotes" class="list-group-item" (click)="submitQuote($event, quote, 'Akshay')">
          {{quote}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card">
          <div class="card-header">Played Quotes</div>
          <ul class="list-group list-group-flush">
              <li *ngFor="let quote of Model.playedQuotes" class="list-group-item d-flex justify-content-between align-items-center">
                  {{quote.text}}
                  <span class="badge badge-light">{{quote.playerName}}</span>
              </li>
          </ul>
        </div>
    <div class="card">
      <img class="card-img-top card-img-bottom" [src]="Model.picture">
    </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <div class="card-header">Other Players</div>
          <ul class="list-group list-group-flush">
              <li *ngFor="let player of Model.players" class="list-group-item">
                  <img style="height: 20px; width: 20px" class="rounded">
                  {{player.name}}
              </li>
          </ul>
        </div>
  </div>
</div>