<div class="row">

  <div class="row" *ngIf="!Me">
    <input #name /><button (click)="login(name.value)" >Login</button>
  </div>
  <div class="row" *ngIf="Me">

  <div class="col-md-4">
    
    <div class="card">
      <!-- <div class="card-header">My Quotes</div> -->
      <div class="card-header" style="background-color:#d4edda">My Quotes ({{Me.name}}) </div>
      <ul class="list-group list-group-flush my-quotes">
        <li *ngFor="let quote of Me.myQuotes" 
          (click)="submitQuote($event, quote)" 
          [ngClass]="{ enabled: !myPlayedQuote() && !iAmTheDealer() }"
          class="list-group-item">
          {{quote}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card">
          <div class="card-header" style="background-color:#d4edda">Played Quotes</div>
          <ul class="list-group list-group-flush">
              <li *ngFor="let quote of Model.playedQuotes"
                  [ngClass]="{ 'list-group-item-success': quote.chosen }" 
                  class="list-group-item d-flex justify-content-between align-items-center">
                  {{quote.text}}
                  <span *ngIf="!isEveryOneDone() || (!iAmTheDealer() && !chosenQuotes())" class="badge badge-light">hidden</span>
                  <span *ngIf="chosenQuotes()" class="badge badge-primary">{{quote.playerId}}</span>
                  <button *ngIf="isEveryOneDone() && iAmTheDealer() && !chosenQuotes()"
                          (click)="quote.chosen = true" 
                          class="btn btn-sm btn-primary">
                          Choose
                  </button>
              </li>
          </ul>
        </div>
    <div class="card">
      <img class="card-img" *ngIf="Model.picture" [src]="Model.picture.url" />
      <div class="card-img-overlay" style="text-align:center">
        <button class="btn btn-success btn-lg" (click)="flipPicture($event)">Flip Picture</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <div class="card-header">Other Players & Dealer is: {{Model.dealerId}}</div>
          <ul class="list-group list-group-flush">
              <li *ngFor="let player of Model.players" class="list-group-item">
                  <img style="height: 20px; width: 20px" class="rounded">
                  {{player.name}}
              </li>
          </ul>
        </div>
  </div>
</div>